<CascadingAuthenticationState>
   
        <Router AppAssembly="@typeof(Program).Assembly" >
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <Authorizing>
                        @*<FOLoading visible="true" />*@
                    </Authorizing>
                    <NotAuthorized>
                        <h1>Lo sentimos.</h1>
                        <p>Usted no esta autorizado para esta pagina, necesita <a href="login/">iniciar sesion.</a></p>
                    </NotAuthorized>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Lo sentimos, no hay nada en esta dirección.</p>
                </LayoutView>
            </NotFound>
        </Router>
  
</CascadingAuthenticationState>
